html, body, .root {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  font-family: 'Nunito', sans-serif;
}

.App {
  width: 70%;
  margin-left: 15%;
}

.title {
  width: 60%;
  padding-top: 2em;
  margin-left: 20%;
  text-align: center;
}

.pricing-row {
  display: flex;
  padding-top: 2.5em;
  justify-content: space-between;
}

.plan-card {
  /* flex: 1; */
  border: 2px solid #3c74f8;
  border-radius: 5px;
  padding: 1em, 2em, 0 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: center;
}

.plan-card ul {
  text-align: left;
}

.plan-card h2 {
  margin-top: 1em;
  font-size: 1.5em;
}

.plan-card h1 {
  font-size: 2em;
}

.button {
  border-top: 2px solid #3c74f8;
  background: none;
  padding: 10px;
  transition: 0.4s;
  margin: 0;
}

.button:hover {
  cursor: pointer;
  color: #fff;
  background: #3c74f8;
}

.active-card .button {
  border-top: 2px solid #fff;
}

.active-card .button:hover {
  background: #fff;
  color: #3c74f8;
}

.active-card {
  /* flex: 1.2; */
  color: #fff;
  background-color: #3c74f8;
  box-shadow: 2px 2px 3px #3c74f867;
}
